<div class="text-white">
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        
        <div class="container-fluid">
            <h2 class="text-white">UrbanNav UC</h2> 
            <div class="d-flex">
                <!-- execute a logout button -->
                <button class="btn btn-outline-light me-2" (click)="onLogout()">Cerrar sesión</button>
            </div>
        </div>

      </nav>
      <div class="container-fluid">
        <h1 class="mt-2">Hola, administrador! </h1>
        <pre class="text-white">{{ user() | json }}</pre>

        <button type="button" class="btn btn-primary" (click)="abrirModal()">
            Abrir Modal
          </button>

        <div class="row p-4">
            <div class="col">
                <h3 class="text-warning">Variables globales</h3>
                <p class="text-white">Crear nuevas variables o actualizar las existentes</p>
                <form [formGroup]="myFormVariable" (ngSubmit)="onSubmitVariable()">
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Nombre de la variable" formControlName="nombreVariable">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Valor de la variable" formControlName="valorVariable">
                    </div>
                    <!-- submit btn -->
                    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                </form>
                <button class="btn btn-warning mt-2">Ver todas las variables</button>
            </div>
            <div class="col">
                <h3 class="text-warning">Ciudades</h3>
                <p class="text-white">Crear nuevas ciudades</p>
                <form [formGroup]="myFormCiudad" (ngSubmit)="onSubmitCiudad()">
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Nombre de la ciudad" formControlName="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Descripción" formControlName="Descripcion">
                    </div>
                    <!-- submit btn -->
                    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                </form>
                <button class="btn btn-warning mt-2">Ver todas las Ciudades</button>
            </div>
            <div class="col">
                
                <h3 class="text-warning">Barrios</h3>
                <p class="text-white">Crear nuevos barrios</p>
                <form  [formGroup]="myFormBarrio" (ngSubmit)="onSubmitBarrio()">
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Nombre del barrio" formControlName="NombreBarrio">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Descripción del barrio" formControlName="Descripcion">
                    </div>

                    <select class="form-select mt-2" aria-label="Default select example" formControlName="ciudadId">
                        <option value="default">Selecciona una ciudad</option>
                        <option *ngFor="let ciudad of this.ciudades()" [value]="ciudad.idCiudad" >{{ ciudad.Nombre }}</option>
                      </select>

                  
                    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                </form>
                <button class="btn btn-warning mt-2">Ver todos los barrios</button>
               
            </div>
            <div class="col">
                
                <h3 class="text-warning">Recorridos</h3>
                <p class="text-white">Crear nuevos recorridos</p>
                <form  [formGroup]="myFormRecorrido" (ngSubmit)="onSubmitRecorrido()">
                    <div class="form-group">
                        <input type="number" class="form-control mt-2" id="exampleFormControlInput1" placeholder="Distancia en KM" formControlName="DistanciaKM">
                    </div>

                    <select class="form-select mt-2" aria-label="Default select example" formControlName="barrioOrigenId">
                        <option value="default">Selecciona un barrio de origen<option>
                        <option *ngFor="let barrio of this.barrios()" [value]="barrio.idBarrio" >{{ barrio.nombreBarrio }} - {{ barrio.ciudadId }}</option>
                      </select>

                    <select class="form-select mt-2" aria-label="Default select example" formControlName="barrioDestinoId">
                        <option value="default">Selecciona un barrio de destino<option>
                        <option *ngFor="let barrio of this.barrios()" [value]="barrio.idBarrio" >{{ barrio.nombreBarrio }} - {{ barrio.ciudadId }}</option>
                      </select>

                    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                </form>
                <button class="btn btn-warning mt-2">Ver todos los recorridos</button>
           
            </div>
        </div>

        <router-outlet />
      </div>

</div>
  