<div class="text-white">
    <nav class="navbar bg-dark border-bottom border-body position-fixed w-full z-3" data-bs-theme="dark">

        <div class="container-fluid">
            <h2 class="text-white">UrbanNav UC</h2> 
            <div class="d-flex">
                <!-- execute a logout button -->
                <a routerLink="/dashboard" class="btn btn-outline-light me-2">Volver</a>
            </div>
        </div>
    
    </nav>

    <main class="pt-5 container">
        <h2 class="text-warning mt-4">Gráficos</h2>
        <canvas id="MyChart" >{{ chart }}</canvas>
        <canvas id="MyChart2" >{{ chart }}</canvas>

    </main>
</div>