<div class="text-white">
    <nav class="navbar bg-dark border-bottom border-body position-fixed w-full z-3" data-bs-theme="dark">

        <div class="container-fluid">
            <h2 class="text-white">UrbanNav UC</h2> 
            <div class="d-flex">
                <!-- execute a logout button -->
                <a routerLink="/dashboard" class="btn btn-outline-light me-2">Volver</a>
            </div>
        </div>
    
    </nav>

    <main class="pt-5">
        <div *ngIf="loading" class="d-flex justify-content-center p-4">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>

        <div *ngIf="!loading" class="container mb-2">
            <h1 class="text-warning mt-2">Usuarios</h1>
            <hr>
            <div *ngFor="let u of this.usuariosArray()">
                <div *ngIf="u.usuario.rolId === '65145f6950ef6641e8e8d370'" class="alert alert-info">
                    Admin: {{u.usuarioLogica.primerNombre}}
                </div>
                <div *ngIf="u.usuario.rolId === '65243b86591891311c031c97'" class="alert alert-warning">
                    Cliente: {{u.usuarioLogica.primerNombre}} - {{u.usuarioLogica.primerApellido}} - {{u.usuario._id}}:{{u.usuarioLogica.estado}} 
                    <button *ngIf="u.usuarioLogica.estado === 'ACTIVO' " class="btn btn-outline-danger" (click)="this.inactivarUsuario(u.usuarioLogica.idCliente, u.usuario.rolId)">Inactivar</button>
                    <button *ngIf="u.usuarioLogica.estado === 'INACTIVO' " class="btn btn-outline-success" (click)="this.activarUsuario(u.usuarioLogica.idCliente, u.usuario.rolId)">Activar</button>
                </div>
                <div *ngIf="u.usuario.rolId === '65243b9b591891311c031c98'" class="alert alert-success">
                    Conductor: {{u.usuarioLogica.primerNombre}} - {{u.usuarioLogica.primerApellido}} - {{u.usuario._id}}:{{u.usuarioLogica.estado}} <button class="btn btn-outline-danger" (click)="this.inactivarUsuario(u.usuarioLogica.idConductor, u.usuario.rolId)">Inactivar</button>
                </div>

            </div>
        </div>
    </main>
</div>